<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- Author's original DTD was XHTML 1.0 Strict -->
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}/css/ssim/base.css{% endblock %}" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/tooltip.css" />
    <script type="text/javascript" src="/js/tooltip.js"></script>

    <title>SSIM administrations</title>
</head>
<body>
    <div id="header">{% block header %}<h1>SSIM Client</h1>{% endblock %}</div>
    <div id="mainmenu">{% block mainmenu %}Loading...{% endblock %}</div>
    <div id="submenu"></div>
    <div id="content">{% block content %}Content.{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &nbsp;&nbsp;
        <a class="link_for_mainmenu" href="/ssim/{{ address }}/products">products</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="link_for_mainmenu" href="/ssim/{{ address }}/locations">clients</a>
        {% endblock %}
    </div>
  </body>
  <script>
        var load_data = function(address,target){
            // store value in data variable
            var data = {};
            $.ajaxSetup({ cache: false });
            $.get(address,data,
                function(data){
                    $(target).html(data);
                }
            );
            return false;
        }

        var post = function(address,target, data){
            // store value in data variable
            $.ajaxSetup({ cache: false });
            $.post(address,data,
                function(data){
                    $(target).html(data);
                }
            );
            return false;
        }

        $(document).ready(function() {
                load_data('/ssim/{{ address }}/products', '#mainmenu');
        });

        $('a.link_for_mainmenu').click(function(event){
            event.preventDefault();
            load_data($(this).attr('href'), '#mainmenu')
            return false;
        });
  </script>
</html>