<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- Author's original DTD was XHTML 1.0 Strict -->
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" type="text/css" href="/css/ssim/base.css" />

    <link rel="stylesheet" type="text/css" href="/css/ssim/sunny/jquery-ui-1.7.2.custom.css" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>

    <script type="text/javascript" src="/js/ssim.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ssim/forms.css" />

    <link rel="stylesheet" type="text/css" href="/css/ssim/toolbar.css" />
    <script type="text/javascript" src="/js/toolbar.js"></script>

    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/splitter.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/ssim/notificationmsg.css" />
    <script type="text/javascript" src="/js/ui.notificationmsg.js"></script>

    <script>
        $().ready(function() {
                $("#mainSplitter").splitter({
                        type: "v",
                        outline: true,
                        minLeft: 100, sizeLeft: 300, minRight: 300,
                        resizeToWidth: true,
                        cookie: "vsplitter",
                        anchorToWindow: true,
                        accessKey: 'I'
                });
        });
    </script>

    <title>SSIM administrations</title>
</head>
<body>
    <div id="header">{% block header %}<h1 class="symantec">SSIM Client</h1>{% endblock %}</div>

    <div id="mainSplitter">
        <div id="mainmenu">
            {% block mainmenu %}
                Loading...
            {% endblock %}
        </div>
        <div id="content">{% block content %}Content.{% endblock %}</div>
    </div>
    <div id="footer" class="fg-toolbar ui-widget-header ui-corner-all ui-helper-clearfix">
        {% block footer %}
            <div class="fg-buttonset fg-buttonset-single ui-helper-clearfix">
                <a href="/ssim/{{ address }}/products" class="link_for_mainmenu fg-button ui-state-default ui-state-active ui-priority-primary ui-corner-left" title="Products">products</a>
                <a href="/ssim/{{ address }}/locations" class="link_for_mainmenu fg-button ui-state-default ui-priority-primary ui-corner-right" title="Agents">agents</a>
            </div>
            <a href="/ssim/events/{{ address }}" id="events" class="fg-button ui-state-default ui-priority-primary ui-corner-all" title="Events" target="_blank">events</a>
        {% endblock %}
    </div>

    <!-- Notification block -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#msg1').notificationmsg({period: 1000});
            $('#closebutton').click(function(){ $('#msg1').notificationmsg('hide'); });
        });

        function notify(text)
        {
            var animStyle = 'slide'//fade,slidethru
            $("#modalbody").text(text);
            $('#msg1').notificationmsg({animation:animStyle});
            $('#msg1').notificationmsg('show');
        }
    </script>


    <div id="msg1">
        <div id="modal">
            <div class="modaltop">
                <div class="modaltitle">Notification</div>
                    <span id="closebutton" style="cursor:pointer">
                        <img alt="Hide Popup" src="/img/ssim/close_vista.gif" width="28" height="15" border="0" />
                    </span>
                </div>
            <div class="modalbody" id="modalbody">
                Form saved
            </div>
        </div>
    </div>
    <!-- End of Notification block -->

  </body>

  <script>
        $(document).ready(function() {
                load_data('/ssim/{{ address }}/products', '#mainmenu');
        });

        $('a.link_for_mainmenu').click(function(event){
            event.preventDefault();
            load_data($(this).attr('href'), '#mainmenu')
            return false;
        });

        $('#events').click(function(event){
            event.preventDefault();
            var win = $(this).attr('href').replace(/[/:.]/g,"_");
            window.open( $(this).attr('href'), win, "width=950,height=600,menubar=no,toolbar=no,location=no,resizable=yes" );
            return false;
        });
  </script>
  
</html>