<div class="frame-header ui-widget-header ui-corner-all ui-helper-clearfix">Product List</div>
<div>
    <ul>
        {% for product in products %}
            <li>
                <a class="content_list" href="/ssim/{{ address }}/product/{{ product.productID }}">{{ product.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    $('a.content_list').click(function(event){
        event.preventDefault();
        load_data($(this).attr('href'), '#content')
        return false;
    });
</script>

