<div class="frame-header ui-widget-header ui-corner-all ui-helper-clearfix">Clients</div>

<div>
    <ul>
        {% for client in clients %}
            <li>
                <a class="mainmenu" href="/ssim/{{ address }}/products/{{ client.address }}" locationDN="{{ client.dn }}">
                    {{ client.host }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<script>
    $('a.mainmenu').click(function(event){
        event.preventDefault();
        post($(this).attr('href'), '#content',{'locationDN':$(this).attr('locationDN')})
        return false;
    });
</script>
