<table>
    <caption>Clients</caption>
    <tbody>
    {% for client in clients %}
        <tr>
            <td>
                <a class="mainmenu" href="/ssim/{{ address }}/products/{{ client.address }}" locationDN="{{ client.dn }}">
                    {{ client.host }}
                </a>
            </td>
        <tr/>
    {% endfor %}
    </tbody>
</table>
<script>
    $('a.mainmenu').click(function(event){
        event.preventDefault();
        post($(this).attr('href'), '#content',{'locationDN':$(this).attr('locationDN')})
        return false;
    });
</script>
