<form id="agents_tab_form" action="{{ action }}" method="POST" style="height:30em;">

<table class="selectbox">
    <thead>
        <tr>
            <th>Available Agents</th>
            <th></th>
            <th>Selected Agents</th>
        </tr>
    </thead>
    <tbody>
        <tr>
         <td>
             <select id="available_agents" size=10 multiple
               onDblClick="$(this).children('option:selected').remove().appendTo('#agents')">

               {% for agent in all_agents %}
                <option value="{{ agent.dn }}">{{ agent.name }}</option>
               {% endfor %}
             </select>
         </td>
         <td>
             <button id="add_agent" type="button"
                     class="fg-button ui-state-default fg-button-icon-solo  ui-corner-all"><span class="ui-icon ui-icon-arrowthick-1-e"></span> Add</button>
             <button id="remove_agent" type="button"
                     class="fg-button ui-state-default fg-button-icon-solo  ui-corner-all"><span class="ui-icon ui-icon-arrowthick-1-w"></span> Remove</button>
         </td>
         <td>
             <select id="agents" name="agents" size=10 multiple
               onDblClick="$(this).children('option:selected').remove().appendTo('#available_agents')">

               {% for agent in agents %}
                <option value="{{ agent.dn }}">{{ agent.name }}</option>
               {% endfor %}

            </select>
         </td>
        </tr>
</tbody>
</table>

<br/>

<input type="submit" value="Submit" class="fg-button ui-state-default ui-corner-all"/>
<input id="reset_agents_tab" type="button" value="Reset" class="fg-button ui-state-default ui-corner-all"/>

    
</form>

<script>
    $(SetupButtons);
</script>

<script type="text/javascript">
    $().ready(function() {
        $('#add_agent').click(function() {
         return !$('#available_agents option:selected').remove().appendTo('#agents');
        });

        $('#remove_agent').click(function() {
         return !$('#agents option:selected').remove().appendTo('#available_agents');
        });

        $('#reset_agents_tab').click(function() {
            load_data('{{ action }}', $('#agents_tab_form').parent());
        });
    });
</script>

<script type="text/javascript">


    $(document).ready(function(){
          $('#agents_tab_form').submit(function() {
              $('#agents option').each(function(i) {
                 $(this).attr("selected", "selected");
              });
          });
          // ---- Форма -----
          var options = {
            // элемент, который будет обновлен по ответу сервера
            target: $('#agents_tab_form').parent(),
            beforeSubmit: showRequest, // функция, вызываемая перед передачей
            success: showResponse, // функция, вызываемая при получении ответа
            timeout: 3000 // тайм-аут
          };

          $('#agents_tab_form').submit(function() {
            $(this).ajaxSubmit(options);
            return false;
          });
          // ---- Форма -----
    });

    function showResponse(responseText, statusText)  {
        $('#agents option').each(function(i) {
            $(this).removeAttr("selected");
        });
        if( statusText != 'success' ){
            alert('Server status: ' + statusText + '\n\nServer response: \n' + responseText);
        } else {
            notify('Form saved')
        }
    }

    // вызов перед передачей данных
    function showRequest(formData, jqForm, options) {

        //var queryString = $.param(formData);
        //alert('Вот что мы передаем: \n\n' + queryString);
        return true;
    }
</script>