<form id="general_tab_form" action="{{ action }}" method="POST" style="height:30em;">

<div>General information about configuration.</div>
<hr/>
<div class="field-set">
    {% for field in form.visible_fields %}
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
        {% endif %}
        <div class="field-row">
            <div class="field-cell">
                {{ field.label_tag }}
            </div>
            <div class="field-cell">
                {{ field.errors }}
                {{ field }}
            </div>
        </div>
    {% endfor %}
</div>

<div style="text-align:center;">
    <input type="submit" value="Submit" class="fg-button ui-state-default ui-corner-all">
    <input type="reset" value="Reset" class="fg-button ui-state-default ui-corner-all">
</div>

</form>

<script type="text/javascript">
$(document).ready(function(){
  var options = {
    // элемент, который будет обновлен по ответу сервера
    target: $('#general_tab_form').parent(),
    success: showResponse, // функция, вызываемая при получении ответа
    timeout: 3000 // тайм-аут
  };

  // привязываем событие submit к форме
  $('#general_tab_form').submit(function() {
    $(this).ajaxSubmit(options);
    return false;
  });
});

// вызов после получения ответа
function showResponse(responseText, statusText)  {
    if( statusText == 'success' ){
        alert('Form is saved')
    } else {
        alert('Server status: ' + statusText + '\n\nServer response: \n' + responseText);
    }
}
</script>