<div style="display:table;height:30em;">
    <div style="display:table-row;">
        <div id="sensors" style="display:table-cell;width:15em;">
            Loading...
        </div>
        <div id="sensor" style="display:table-cell;padding:2px 2px 2px 10px;">
            Loading...
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
                var link = '/ssim/config/{{ address }}/product/{{ productID }}/config/{{ config_name }}/sensors/'
                load_data(link, '#sensors');
            });
</script>

<script>
    var select_item = function(link){
        $('.item_list a').each(function(i, item){
            //alert("-->" + $(item).attr('href'));
            if( link != null && $(item).attr('href') == link.attr('href')){
                $(item).addClass('selected')
            } else {
                $(item).removeClass('selected')
            }
        });
    }
</script>