<div style="height:26em;overflow:auto;border:inset thin;background-color:white;padding:2px;">
    <ul class="link_list">
        {% for sensor in sensors %}
            <li>
                <a id="sensor_{{ sensor.name }}" name="{{ sensor.name }}" href="/ssim/config/{{ address }}/product/{{ productID }}/config/{{ config.name }}/sensor/{{ sensor.name }}">{{ sensor.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="fg-toolbar ui-helper-clearfix">
        <a id="add"    href="/ssim/config/{{ address }}/product/{{ productID }}/config/{{ config.name }}/sensor/" class="fg-button ui-state-default fg-button-icon-solo  ui-corner-all" title="Add new sensor"><span class="ui-icon ui-icon-plus"></span> Add</a>
        <a id="remove" href="#" class="fg-button ui-state-default fg-button-icon-solo  ui-corner-all" title="Remove sensor"><span class="ui-icon ui-icon-minus"></span> Remove</a>
</div>


<script>
    $('#add').click(function(event){
        event.preventDefault();
        load_data($(this).attr('href'), '#sensor')
        select_item(null);
        return false;
    });
    $('#remove').click(function(event){
        event.preventDefault();
        // get selected sensor
        var selected_item = null;
        $('.link_list a').each(function(i, item){
            if( $(item).is('.selected') ){
                selected_item = $(item);
            }
        });
        if( selected_item ){
            load_data('/ssim/config/{{ address }}/product/{{ productID }}/config/{{ config.name }}/sensor/' +
                selected_item.attr('name') + '/delete', '#sensors')
        }
        return false;
    });
</script>

{% if first_link %}
<script>
    var select_and_load_item = function(event){
        event.preventDefault();
        select_item($(this));
        load_data($(this).attr('href'), '#sensor');
    }

    $('.link_list a').click(select_and_load_item);
</script>
{% endif %}

{% if selected_link %}
    <script>
        $(document).ready(function() {
                select_item($('#sensor_{{ selected_link }}'))
            });
    </script>
{% else %}{% if first_link %}
    <script>
        $(document).ready(function() {
                $('.link_list a:first').click();
            });
    </script>
{% endif %}{% endif %}