<div style="height:26em;overflow:auto;border:inset thin;background-color:white;padding:2px;">
    <ul class="link_list">
        {% for sensor in sensors %}
            <li>
                <a href="/ssim/config/{{ address }}/product/{{ productID }}/config/{{ config.name }}/sensor/{{ sensor.name }}">{{ sensor.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="fg-toolbar ui-helper-clearfix">
        <a href="#" class="fg-button ui-state-default fg-button-icon-solo  ui-corner-all" title="Print"><span class="ui-icon ui-icon-plus"></span> Add</a>
        <a href="#" class="fg-button ui-state-default fg-button-icon-solo  ui-corner-all" title="Email"><span class="ui-icon ui-icon-minus"></span> Remove</a>
</div>


{% if selected_link %}
<script>
    var select_item = function(event){
        event.preventDefault();
        $('.link_list a').each(function(i, item){
            //alert("-->" + $(item).attr('href'));
            if( $(item).attr('href') == $(this).attr('href')){
                $(this).addClass('selected')
            } else {
                $(this).removeClass('selected')
            }
        });
        load_data($(this).attr('href'), '#sensor');
    }

    $(document).ready(function() {
                $('.link_list a').click(select_item);
                $('.link_list a:first').click();
                $(SetupButtons);
            });
</script>
{% endif %}