body {
    font-family: Tahoma, Verdana,Arial,sans-serif;
    font-size: .73em;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 64px;
    top: 0;
    background: white;
    vertical-align:middle;
    padding-left:20px;
  }
  #footer {
    position: fixed;
    left: 0;
    right: 0px;
    /*width: 100%;*/
    height: 24px;
    bottom: 0;
    background-color: #ccffcc;
    white-space: nowrap;
    border-width:1px;
  }

#mainSplitter {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 64px;
    bottom: 26px;
    border:none;
}

/*
* Splitter bar style; the .active class is added when the
* mouse is over the splitter or the splitter is focused
* via the keyboard taborder or an accessKey.
*/
#mainSplitter .vsplitbar {
    width: 6px;
    background: #aca url(../../img/ssim/vgrabber.gif) no-repeat center;
}
#mainSplitter .vsplitbar.active {
    background: #da8 url(../../img/ssim/vgrabber.gif) no-repeat center;
    opacity: 0.7;
}


#mainmenu {
    overflow-x:hidden;
    overflow-y:auto;
}
#content {
    overflow: auto;
}

#mainmenu ul{
    margin:0;
    padding-left: 20px ;      
}
  #mainmenu ul li{
      margin:0;
      padding: .3em 0em;
      white-space:nowrap;
  }

  #mainmenu ul li .counter{
      color:black;
      text-decoration:none !important;
      font-weight:bold;
  }

  .frame-header {
      padding: .2em;
  }

  .symantec {
      background: white url(../../img/ssim/symantec.jpg) center left no-repeat;
      padding-left:60px;
      line-height:50px;
      margin:8px;
  }

  a {
      line-height:1em;
      text-decoration:none;
      display:block;
      margin-right:1px;
      color: black;
  }

a:HOVER {
    text-decoration:underline;
}
