.field-set{
    padding-bottom:10px;
    display:table;
}

.field-set label {
    font-weight: normal !important;
}

.field-set .required label, label.required {
    font-weight: bold !important;
}

.field-row {
    display: table-row;
}

.field-cell {
    display:table-cell;
    vertical-align:top;
    padding: 3px 0px 2px 0px;
}

.field-row label{
    width: 13em;
    float: left;
}

.field-row input{
    width: 20em;
}

.item_list {
    padding:0;
    margin:0;
    list-style:none;
}
.item_list li {
    padding:0;
    margin:0;
    line-height:16px;
    height:16px;
    white-space:nowrap !important;
}
.item_status {
    float:left;
    width:16px;
    line-height:16px;
    overflow:hidden;
}

.item_status span {
    padding:16px;
}

.enabled {
    background-image: url(../../img/ssim/checkbox_checked.gif);
}

.disabled {
    background-image: url(../../img/ssim/checkbox_unchecked.gif);
}


a.selected {
    background-color: rgb(230,230,230)
}