{% extends "base.html" %}
{% load sorting_tags %}
{% load machines_extras %}

{% block title %}Machines List{% endblock %}

{% block content %}
<table class="module">
    <caption>Machines List</caption>
    <thead>
        <tr>
            <th>{% anchor address Address %}</th><!-- This is a TH tag with a link inside it -->
            <th>{% anchor name %}</th>
            <th>{% anchor user__username User%}</th>
            <th>{% anchor location %}</th>
            <th>{% anchor os_name OS %}</th>
            <th>SSIM</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr id="item_{{ item.id }}" class="{% cycle 'even' 'odd' %}">
            <td id="item_address_{{ item.id }}" class="{% if item|my:user %}my{% endif %}"><a href="https://{{item.address}}/" target="_blank">{{item.address}}</a></td>
            <td>
                <span id="item_name_{{ item.id }}" class="show-tooltip" title="Updating...<br>{{ item.info|html }}">
                    <a class="ssim" href="/ssim/{{ item.address }}/" target="_blank">
                        {{item.name}}
                    </a>
                </span>
            </td>
            <td id="item_user_{{ item.id }}">{{item.user.first_name}} {{item.user.last_name}}</td>
            <td>{{ item.location }}</td>
            <td id="item_os_{{ item.id }}">{{ item.os_name }}</td>
            <td id="status_{{ item.id }}" class="status">&nbsp;</td>
            <td id="take_{{ item.id }}" onclick="take('{{ item.id }}')" class="{{ item|take:user }}" title="Take for myself">&nbsp;</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>
                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>
            </td>
            <td colspan="6">
                {% include 'pagination.html' %}
            </td>
        </tr>
    </tfoot>
</table>



<script>
var take = function(message) {
    // retrieve the text entered
    if (message != ""){
        // store value in data variable
        var data = { id: message };
        $.ajaxSetup({ cache: false });
        $.getJSON("/machines/take/",data,
            function(data){
                $.each(data, function(i,item){
                    if( item.pk == message ){
                        var item_user = "#item_user_"+item.pk;
                        var item_address = "#item_address_"+item.pk;
                        var take_td = "#take_"+item.pk;
                        $(item_address).attr('class', 'my');
                        $(take_td).attr('class', 'no_take');
                        $(item_user).text(item.fields.user.fields.first_name + " " + item.fields.user.fields.last_name);
                    }
                });
            }
        );
    }else{
        alert("Enter some text silly!");
    }
  return false;
};

var load_version = function(machine_id){
    // retrieve the text entered
    if (machine_id != ""){
        // store value in data variable
        var data = { id: machine_id };
        $.ajaxSetup({ cache: false });
        $.get("/machines/version/",data,
            function(data){
                var item_status = $("#status_"+machine_id);
                var item_os = $("#item_os_"+machine_id);
                var tooltip = $("#item_name_"+machine_id).next('.show-tooltip-text');
                if (tooltip.attr('class') != 'show-tooltip-text')
                        return false;
                if( data.length > 0 ){
                    var new_line_pos=data.indexOf('\n');
                    item_os.text(data.substring(0, new_line_pos).replace (/\*/g, ''));
                    item_status.attr('class', 'status_on');
                    tooltip.html(data.replace(/\n/g,"<br/>"));
                } else {
                    item_status.attr('class', 'status_off')
                    tooltip.html(tooltip.html().replace("Updating...","Server temporary unavailable..."));
                }
            }
        );
    }else{
        alert("Enter some text silly!");
    }
  return false;
}

$('.ssim').click(function(event){
    event.preventDefault();
    window.open( $(this).attr('href'), $(this).attr('href'), "width=800,height=600,menubar=no,toolbar=no,location=no" );
    return false;
});

// attach the click handler to the button
//$("#send").click(take);

{% for item in object_list %}
$(document).ready(function() {
	setTimeout("load_version('{{ item.id }}');",10);
});
{% endfor %}

</script>
{% endblock %}

