{% extends "base.html" %}
{% load sorting_tags %}
{% load machines_extras %}



{% block title %}Machines List{% endblock %}

{% block content %}

<table class="module">
    <caption>Machines List</caption>
    <thead>
    <tr>
        <th>{% anchor address Address %}</th><!-- This is a TH tag with a link inside it -->
        <th>{% anchor name %}</th>
        <th>{% anchor user__username User%}</th>
        <th>{% anchor location%}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    {% for item in object_list %}
    <tr id="item_{{ item.id }}" class="{% cycle 'even' 'odd' %}">
        <td id="item_address_{{ item.id }}" class="{% if item|my:user %}my{% endif %}">{{item.address}}</td>
        <td>{{item.name}}</td>
        <td id="item_user_{{ item.id }}">{{item.user.first_name}} {{item.user.last_name}}</td>
        <td>{{item.location}}</td>
        <td id="take_{{ item.id }}" onclick="take('{{ item.id }}')" class="{{ item|take:user }}">&nbsp;</td>
    </tr>
    {% endfor %}
    <tfoot>
        <td>
            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>
        </td>
        <td colspan="4">
            {% include 'pagination.html' %}
        </td>
    </tfoot>
</table>



<script>
var take = function(message) {
    // retrieve the text entered
    if (message != ""){
        // store value in data variable
        var data = { id: message };
        $.ajaxSetup({ cache: false });
        $.getJSON("/machines/take/",data,
            function(data){
                $.each(data, function(i,item){
                    var item_user = "#item_user_"+item.pk;
                    var item_address = "#item_address_"+item.pk;
                    var take_td = "#take_"+item.pk;
                    $(item_address).attr('class', 'my');
                    $(take_td).attr('class', 'no_take');
                    $(item_user).text(item.fields.user.fields.first_name + " " + item.fields.user.fields.last_name);
                    //$("#messages").append('<tr><td>' + item.pk + " - " + item.fields.timestamp + "-" + item.fields.text + "</td></tr>");
                });
            }
        );
    }else{
        alert("Enter some text silly!");
    }
  return false;
};
// attach the click handler to the button
//$("#send").click(take);

</script>
{% endblock %}

