<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- Author's original DTD was XHTML 1.0 Strict -->
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" type="text/css" href="/css/ssim/events.css" />
    <link rel="stylesheet" href="/css/slide.css" type="text/css" media="screen" />

    <!-- PNG FIX for IE6 -->
    <!-- http://24ways.org/2007/supersleight-transparent-png-in-ie6 -->
    <!--[if lte IE 6]>
            <script type="text/javascript" src="/js/pngfix/supersleight-min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/ssim/sunny/jquery-ui-1.7.2.custom.css" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>

    <script type="text/javascript" src="/js/ssim.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/ssim/forms.css" />

    <link rel="stylesheet" type="text/css" href="/css/ssim/toolbar.css" />
    <script type="text/javascript" src="/js/toolbar.js"></script>

    <script type="text/javascript" src="/js/jquery.cookie.js"></script>

    <script type="text/javascript" src="/js/splitter.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/ssim/notificationmsg.css" />
    <script type="text/javascript" src="/js/ui.notificationmsg.js"></script>

    <!-- Sliding effect -->
    <script src="/js/slide.js" type="text/javascript"></script>

    <!-- Fix browser CSS -->
    <link rel="stylesheet" type="text/css" href="/css/ssim/fix/{{ browser }}.css" />

    {% load ssim_extras %}

    <script>
        $().ready(function() {
                $("#mainSplitter").splitter({
                        type: "v",
                        outline: true,
                        minLeft: 100, sizeLeft: 300, minRight: 300,
                        resizeToWidth: true,
                        cookie: "v",
                        anchorToWindow: true,
                        accessKey: 'I'
                });
        });
    </script>

    <style type="text/css">
        .ui-progressbar-value { background-image: url(/img/ssim/pbar-ani.gif); }
    </style>
    <script type="text/javascript">
        $().ready(function() {
                $("#progressbar").progressbar({
                        value: 0
                });
        });
        function startProgress(obj, val){
            if(val > 100){
                val = 100;
            }
            obj.progressbar('option', 'value', val);
            if( obj.css('display') != 'none' ){
                val = val+3;
                setTimeout('startProgress($(\'#' + obj.attr('id') + '\'),' + val + ')', 100);
            }
        }

        //select Archive dialog script
        $(function() {
		$("#select_archive_dialog").dialog({
                        autoOpen: false,
			bgiframe: true,
			modal: false,
                        draggable: true,
			buttons: {
				Ok: function() {
					$(this).dialog('close');
				}
			}
		});
	});

        $().ready(function(){
            $("#select_archive").click(function(){
                $('#select_archive_dialog').dialog('open');
            })
        });
    </script>

    <title>SSIM Events</title>
</head>
<body>
    <div id="header_pefix" class="fg-toolbar ui-widget-header ui-helper-clearfix">
        &nbsp;
    </div>
    <form id="event_list_form" action="/ssim/events/{{ address }}/events" method="post">
        <input type="hidden" name="filter" value="filter" />
        <input type="hidden" name="archive_id" id="archive_id" value="" />

        {% include 'ssim/events/slide_panel.html' %}

        <div id="header" class="fg-toolbar ui-widget-header ui-helper-clearfix">
            {% block header %}
            <div class="fg-buttonset ui-helper-clearfix">
                <button id="refresh_events" type="submit"
                        class="fg-button ui-state-default fg-button-icon-solo ui-corner-all" title="Refresh list"><span class="ui-icon ui-icon-refresh"></span> Refresh</button>
                <button id="select_archive" type="button"
                        class="fg-button ui-state-default fg-button-icon-solo ui-corner-all" title="Select archive for qury"><span class="ui-icon ui-icon-suitcase"></span> Select archive</button>
                <input name="obj_per_page" type="text" size="3" title="Objects per page" value="{{ obj_per_page }}"/>
            </div>
            {% endblock %}
        </div>


    </form>

    <div id="select_archive_dialog" title="Select Archives" style="display:none;">
        <p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                Select archives for query.
        </p>
        <p id="archive_list">
                Loading...
        </p>
    </div>


    <div id="mainSplitter">
        <div id="mainmenu">
            {% block mainmenu %}
                Loading...
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
                
            {% endblock %}
        </div>
    </div>
    <div id="footer" class="fg-toolbar ui-widget-header ui-helper-clearfix">
        {% block footer %}
            <ul id="event_stats_chart">
                {% for rate in 60|get_range %}
                <li><a id="event_stat" index="{{ forloop.counter0 }}" href="#" style="background-position: center -0%;" >&nbsp;</a></li>
                {% endfor %}
            </ul>
            <div id="progressbar"></div>
        {% endblock %}
    </div>

    <!-- Notification block -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#msg1').notificationmsg({period: 1000});
            $('#closebutton').click(function(){ $('#msg1').notificationmsg('hide'); });
        });

        function notify(text)
        {
            var animStyle = 'slide'//fade,slidethru
            $("#modalbody").text(text);
            $('#msg1').notificationmsg({animation:animStyle});
            $('#msg1').notificationmsg('show');
        }
    </script>


    <div id="msg1">
        <div id="modal">
            <div class="modaltop">
                <div class="modaltitle">Notification</div>
                    <span id="closebutton" style="cursor:pointer">
                        <img alt="Hide Popup" src="/img/ssim/close_vista.gif" width="28" height="15" border="0" />
                    </span>
                </div>
            <div class="modalbody" id="modalbody">
                Data was submitted
            </div>
        </div>
    </div>
    <!-- End of Notification block -->

  </body>

  <script>
    $(SetupButtons);
  </script>

  <script>
        function update_event_stats(url, id){
            load_data(url, id);
            setTimeout('update_event_stats("' + url + '","'+id+'")', 5000);
        }
        $(document).ready(function() {
                load_data('/ssim/events/{{ address }}/queries', '#mainmenu');
                //load_data('/ssim/events/{{ address }}/events', '#content');
                load_data('/ssim/events/{{ address }}/select-archive', '#archive_list');
                //load_data('/ssim/events/{{ address }}/event_stats', '#event_stats_chart');
                setTimeout('update_event_stats("/ssim/events/{{ address }}/event_stats","#event_stats_chart")', 3000);
        });

        $('a.link_for_mainmenu').click(function(event){
            event.preventDefault();
            load_data($(this).attr('href'), '#mainmenu')
            return false;
        });
  </script>

  <script type="text/javascript" src="/js/jquery.form.js"></script>
  <script type="text/javascript">
        $(document).ready(function(){
              // ---- Форма -----
              var options = {
                // элемент, который будет обновлен по ответу сервера
                target: "#content",
                beforeSubmit: showRequest, // функция, вызываемая перед передачей
                success: showResponse, // функция, вызываемая при получении ответа
                timeout: 3000 // тайм-аут
              };

              $('#event_list_form').submit(function() {
                $(this).ajaxSubmit(options);
                return false;
              });
              // ---- Форма -----
        });

        function showResponse(responseText, statusText)  {
            if( statusText != 'success' ){
                alert('Server status: ' + statusText + '\n\nServer response: \n' + responseText);
            } else {
                if( is_panel_open() ){
                    change_panel_link();
                    collapse_panel();
                }
                //notify('List was updated')
                $("#progressbar").hide();
            }
        }

        // вызов перед передачей данных
        function showRequest(formData, jqForm, options) {
            var obj  = $("#progressbar")
            obj.show();
            startProgress(obj,5);
            //var queryString = $.param(formData);
            //alert('Вот что мы передаем: \n\n' + queryString);
            return true;
        }
  </script>

</html>