<dl>
    <dt><strong>Custom Queries:</strong></dt>

    <dd>
        <ul>
        {% for query in custom_queries %}
            <li>
                <a class="mainmenu" href="/ssim/events/{{ address }}/query/{{ query.id }}" queryDN="{{ query.dn }}">
                    {{ query.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </dd>

    <dt><strong>System Queries:</strong></dt>

    <dd>
        <ul>
        {% for query in system_queries %}
            <li>
                <a class="mainmenu" href="/ssim/events/{{ address }}/query/{{ query.id }}" queryDN="{{ query.dn }}">
                    {{ query.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </dd>
</dl>